.header {
    .logo {
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        color: white;
        margin: 0;

        &:hover {
            text-decoration: none;
        }
    }

    .navbar {
        margin: 10px 0;
        color: white;
        font-weight: 600;
        text-decoration: none;

        &::first-letter {
            text-transform: capitalize;
        }
    }
}

@media (min-width: 992px) {
    .header {
        .navbar {
            margin: auto 15px;
        }
    }
}
